#lp-pom-box-34-color-overlay {
display: none; 
} 
#lp-pom-box-34, #lp-pom-box-34-color-overlay {
display: none;
} 
#lp-pom-box-34-color-overlay {
box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.1) !important;
} 